*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
gradle.properties
/build
/local.properties
.vscode/
app/build/
app/src/main/java/com/alfred/a7lite/utils/EncryptionUtils.kt
app/src/test/java/com/alfred/a7lite/util/
encrypt.py
app/release/
A7-lite-Keystore Info.txt
A7-keystore.jks
gemini.md
